<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1054017885097-j7emu7k33sc13f7pt17sr42emfrpsoh4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1054017885097-j7emu7k33sc13f7pt17sr42emfrpsoh4</string>
	<key>API_KEY</key>
	<string>AIzaSyAjgwatmjlEnLB8jqK-zCs-FDNV0lITusA</string>
	<key>GCM_SENDER_ID</key>
	<string>1054017885097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-8458d</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-8458d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054017885097:ios:9e85ffb06a7c1eb2762ab8</string>
</dict>
</plist>